body {
    margin: 0 auto;
    font-size: 16px;
    padding: 0;
    font-family: 'Open Sans', sans-serif;
    color: #000;
    background-image: url(../img/bodybg.jpg);
}

::selection {
    background-color: #2050ec;
    color: #fff;
}

h2,
h3, 
h5,
h6{
    color: #000;
   
    
}
h6{
    font-weight: 600;

}

a {
    transition: all 0.5s ease;
    -moz-transition: all 0.5s ease;
    -ms-transition: all 0.5s ease;
    -o-transition: all 0.5s ease;
    -webkit-transition: all 0.5s ease;
    outline: 0;
    text-decoration: none;
    color: #000;
}

a:hover {
    outline: none;
    color: #1d1d1d;
    text-decoration: none;
} 
 

img:not(table img) {
    max-width: 100%;
} 

p {
    font-size: 16px;
    color: #757576;
}

figure {
    margin: 0 auto;
    display: block;
    text-align: center;
} 

.section-padding {
    padding-top: 60px;
    padding-bottom: 60px;
}    

/*==================== Header Start ===================*/

#header {
    height: 90px;
    display: flex;
    align-items: center;
     z-index: 2; 
    position: relative;
    box-shadow: 0 0.5rem 1rem rgba(0, 0, 0, 0.05);
    background: 0 0 !important;
    background-color: #fff !important;
}  
#header .navbar-brand img {
    height: 120px;
    width: auto;
    margin-top: 0;
    position: absolute;
    top: -10px;
    border-radius: 0 0 10px 10px;
}
#header .navbar-expand-lg .navbar-nav .nav-item {
    margin-right: 25px;
}

#header .navbar-expand-lg .navbar-nav .nav-item:last-child {
    margin-right: 0px;
}

#header .navbar-expand-lg .navbar-nav .nav-link:hover,
#header .navbar-expand-lg .navbar-nav .nav-item.active .nav-link {
    color: #03832a;
}
.mainMenu{
    margin-left: 30px
}
ul.navbar-nav.topMenu {
    margin-bottom: 20px;
}
.navbar-expand-lg .navbar-nav .nav-link {
    padding: 0;
} 

#header .extra_nav {
    margin-left: 30px;
}

#header .navbar-expand-lg .extra_nav .navbar-nav .nav-item {
    margin-right: 10px;
}

#header .navbar-expand-lg .extra_nav .navbar-nav .nav-item:last-child {
    margin-right: 0px;
}

#header .extra_nav .nav-item:list-child {
    margin-right: 0px;
}

#header .navbar-expand-lg .navbar-nav .nav-link.extra_btn i{

    font-size: 20px;
}
.themeColor1{
        color: #f7b01a;
}
.navbar-brand{
    width: 120px;
}
#header .navbar-expand-lg .navbar-nav .nav-link.extra_btn i{
      text-align: center;
    display: flex;
    align-items: center;
    justify-content: center;
    position: relative;
    border-radius: 4px;
    font-weight: 500;
    padding: 0px 4px;
}

#header .navbar-expand-lg .navbar-nav .nav-link.lang_drop {
    padding-left: 32px;
    padding-right: 5px;
    width: auto;
    font-weight: 400;
    color: #000;
}

#header .navbar-expand-lg .navbar-nav .nav-link.lang_drop:hover {
    background-color: #ebebeb;
}

#header .navbar-expand-lg .navbar-nav .nav-link.lang_drop img {
    width: 21px;
    height: auto;
    vertical-align: text-bottom;
}    

/*==================== Footer ===================*/
   
footer h6 {
    font-size: 17px;
    color: #fff;
    margin: 0 0 27px;
    position: relative;
}

ul.footer-links {
    margin: 0;
    padding: 0;
    list-style: none;
}

ul.footer-links li {
    margin: 3px 0;
    padding: 0;
    list-style: none;
    margin-bottom: 10px;
    line-height: 1
}

ul.footer-links li a {
    font-size: 14px;
    font-weight: 400;
    color: #fff;
}

ul.footer-links li a:hover {
    color: #d42027;
}

ul.footer-links.socialize li a {
    position: relative;
    padding-left: 25px;
}
 
.footer_wrapper {  
    padding: 55px 0 0; 
}
footer h6 {
    font-size: 18px;
    margin: 0 0 20px;
    font-weight: 500;
}  
.navbar {
    padding: 0;
} 
#top-button {
    display: inline-block;   
    transition: background-color .3s, 
      opacity .5s, visibility .5s;
    opacity: 0;
    visibility: hidden;
    z-index: 1000;
  }
 
  #top-button.show {
    opacity: 1;
    visibility: visible;
  } 
.back_top {
    position:fixed;
    right:20px;
    bottom:20px;
    cursor:pointer;
    width:40px;
    height:40px;
    background-color:#dea366;
    display:none;
    border: #dea366 1px solid ;
     z-index: 1;

    border-radius:4px
}
.back_top span {
    position: relative;
    display: block;  color: #fff;
    width: 100%;
    height: 100%;
}
.back_top span svg {
    width: 22px;
    height: 21px;
    position: absolute;
    left: 0;
    margin: 0 auto;
    right: 0;
    text-align: center;
    top: 50%;
    transform: translateY(-50%);
}
.back_top:hover {
    border-color: #dea366;
    color: #dea366;
    background-color: #fff;
}
.back_top:hover span{   
     color: #dea366;}


/*==================== Footer ===================*/

#header .navbar-expand-lg .navbar-nav .nav-item.dropdown .nav-link {
    padding-right: 25px;
} 
 
.bleibenSection h3{
        color: #fff;
    font-weight: 500;
    font-size: 40px;

}
.bleibenUl span{
    display: block;
}
.bleibenSection {
    background: radial-gradient(#e49d47, #f07338);
    padding: 80px 0;
    text-align: center;
}
span.icnBx {
    background-color: #fff;
    width: 50px;
    height: 50px;
    display: flex;
    align-items: center;
    justify-content: center;
    border-radius: 50%;
    font-size: 26px;
    color: #f2ae27;
    margin: auto
}
    .bleibenUl {
    list-style: none;
    margin: 0;
    padding: 0;
    text-align: center;
}
.bleibenUl li{
    text-align: center;
}
span.icnTitle {
    color: #fff;
    margin-top: 5px;
}
.bleibenUl {
    list-style: none;
    margin: 0;
    padding: 0;
    text-align: center;
    display: flex;
    justify-content: center;
    column-gap: 30px;
    align-items: flex-start;
    margin-top: 20px
}
.ThemeButn1 {
    color: #fff;
    background: #f28a3c;
    padding: 10px 20px;
    border-radius: 5px;
    display: block;
    width: fit-content;
    margin: auto;

}
.HomeContactSection h3{
    color: #fff
}
.HomeContactSection {
    padding: 80px 15px;
    text-align: center;
    background-image: url(../img/contactBg.jpeg);
    background-size: cover;
    background-position: center;
}
.proCardin {
    border: 2px solid #ddd;
    padding: 10px;
}
.proSlideImg{
    height: 190px
}
.proSlideImg img{
    max-height: 100%
}
.sliderProTitle {
    font-size: 18px;
    font-weight: 500;
}
.sliderProTitle > span{
    font-size: 16px;
    font-weight: 400;
    display: block;
    padding-top: 10px
}
.sliderProTitle span{
    color: grey;
}

.swiper-button-prev:after, .swiper-rtl .swiper-button-next:after, .swiper-button-next:after, .swiper-rtl .swiper-button-prev:after {
    font-size: 22px;
    color: #000
}
.swiper-button-prev, .swiper-rtl .swiper-button-next, .swiper-button-next, .swiper-rtl .swiper-button-prev {
    background-color: #fff;
    border: 1px solid #ddd;
    border-radius: 3px;
    width: 35px;
    height: 35px;

}
.sectionTitle{
    color: #000;
    text-align: center;
    font-size: 24px;
    margin-bottom: 35px
}

 .proSliderSection{
    background-color: #fff;
}
.lightBg{ 
    background-color: #ececec; 
    content: "";
}
#proTabContent{
    background-color:#ececec;
    padding: 15px 0
}
#promyTab{
    display: flex;
    flex-wrap: nowrap;
}
#promyTab li button{
    padding: 19px !important;
    font-size: 26px;
}
#promyTab li, #promyTab li button{
    width: 100%;
    color: #fff;
}
.nav-tabs .nav-item.show .nav-link, .nav-tabs .nav-link.active {
    color: #000 !important;
    background-color: #ececec;
    border-color: #ececec;
}
.nav-tabs .nav-link:focus, .nav-tabs .nav-link:hover {
    border-color: transparent;
}
.proTableRow {
    display: flex;
    align-items: center;
    justify-content: space-between;
    padding-bottom: 10px;
    margin-bottom: 10px;
    border-bottom: 1px solid #ccc;
}
.innerTabTitle {
    font-size: 24px;
    padding: 15px 0;
}
.tabProTable .proTableRow:last-child {
    border-bottom: none
}
.tabRightBtn {
    text-align: left;
    height: 100%;
    display: flex;
    align-items: center;
    justify-content: center;
    flex-direction: column;
}
.proListText{
    font-size: 22px;
}
span.proListIcon i{
    font-size: 34px;
    color: #f7b01a;
    display: block;
}
.proListText {
    font-size: 18px;
    color: #fff;
    margin-top: 12px;
    display: block;
}
.extraProDetail ul li{
    margin: 5px 2px

}
.extraProDetail ul {
    margin: 80px auto;
    padding: 0;
    display: flex;
    justify-content: space-evenly;;
    align-items: flex-start;
    list-style: none;
    text-align: center;
    column-gap: 35px;
} 
 .proSliderSection{
    background-color: #fff;
}
.centerSectionTitle{
    font-size: 24px;
    margin-bottom: 30px;
    color: #fff;
    font-weight: 600;
    text-align: center;
}
.colorWhite{
    color: #fff
}
.SelectedCard{
    margin: 60px 0
}
.selectProcard{
    background: #fff;
    border-radius: 15px;
    padding: 30px;
}
.dropdown-content{
    display: none;
    position: absolute;
      display: none;
  position: absolute;
  background-color: #f9f9f9;
  width: 100%;
  left: 0;
  box-shadow: 0px 8px 16px 0px rgba(0,0,0,0.2);
  z-index: 2;
}
.selectProHeader{
    position: relative;
    display: flex;
    justify-content: space-between;
}
.Pronavbar {
    display: flex;
    align-items: center;
    gap: 30px;
}
.customDropdown:hover .dropdown-content{
    display: block;
}
.Pronavbar .dropbtn {
  font-size: 16px;  
  border: none;
  outline: none;
  color: white;
  padding: 14px 16px;
  background-color: inherit;
  font: inherit;
  margin: 0;
}
.megaNemeBanner{
    background-image: url(../img/SchonBackgroundImage.jpeg);
    background: linear-gradient(0deg, rgb(247 176 26 / 79%) , rgb(247 176 26 / 79%)), url(../img/SchonBackgroundImage.jpeg);
    background-size: cover;
    background-position: center;
    /* min-height: 450px; */
    padding: 50px;
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;
}
.megaMenuList a i{
    margin-right: 8px
}
.megaMenuList a {
    display: block;
    padding: 5px 0;
    font-size: 15px;
}
.megaMenuList a:hover{
    background-color: #f2f2f2;
}
.megaMenuList {
    padding: 15px;
}
.customDropdown:hover .dropbtn {
    background-color: #fff !important;
    color: #000;
    border-radius: 10px 10px 0 0 
    }
.proTitleTagBar .redtag{
    background: red;
    color:#fff
}
.proTitleTagBar .greentag{
    background: green;
    color:#fff
}
.proTitleTagBar span{
    padding: 7px 10px;
    border-radius: 8px;
    line-height: 1;
    font-size: 12px;
}
.protopHeader{
    display: flex;
    align-items: flex-start;
    justify-content: space-between;
    flex-wrap: wrap;
}
.priTag{
    font-size: 32px;
    color: red;
    font-weight: 600
}
.perUnitText{
    font-size: 15px;
    color: #ccc;
    display: block;
    max-width: 80px
}
.perUnitText {
    font-size: 13px;
    color: #ccc;
    display: block;
    max-width: 186px;
    line-height: 17px;
    font-weight: 400;
}
.quantagRow span{
    border: 1px solid #ddd;
    font-size: 15px;
    padding: 8px 30px;
    border-radius: 5px;
    margin-left:10px;
}
.quantityTagLable{
    text-align: right;
    font-weight: 500
}
.quantagRow{
    display: flex;
    flex-wrap: wrap;
    justify-content: flex-end;
}
.proPriRow {
    display: flex;
    justify-content: space-between;
    flex-wrap: wrap;
    gap: 30px;
}

 .qty-input .product-qty, .qty-input .qty-count {
     background: transparent;
     color: inherit;
     font-weight: bold;
     font-size: inherit;
     border: none;
     display: inline-block;
     min-width: 0;
     height: 2.5rem;
     line-height: 1;
}
 .qty-input .product-qty:focus, .qty-input .qty-count:focus {
     outline: none;
}
 .qty-input .product-qty {
     width: 50px;
     min-width: 0;
     display: inline-block;
     text-align: center;
     appearance: textfield;
         background: #ececec;
}
 .qty-input .product-qty::-webkit-outer-spin-button, .qty-input .product-qty::-webkit-inner-spin-button {
     appearance: none;
     margin: 0;
}
 .qty-input .qty-count {
     padding: 0;
     cursor: pointer;
     width: 2.5rem;
     font-size: 1.25em;
     text-indent: -100px;
     overflow: hidden;
     position: relative;
}
 .qty-input .qty-count:before, .qty-input .qty-count:after {
     content: "";
     height: 2px;
     width: 10px;
     position: absolute;
     display: block;
     background: #fff;
     top: 0;
     bottom: 0;
     left: 0;
     right: 0;
     margin: auto;
}
 .qty-input .qty-count--minus {
     border-right: 1px solid #e2e2e2;
     background: #000

}
 .qty-input .qty-count--add {
     border-left: 1px solid #e2e2e2;
     background: #000
}
 .qty-input .qty-count--add:after {
     transform: rotate(90deg);
}
 .qty-input .qty-count:disabled {
     color: #ccc;
     background: #f2f2f2;
     cursor: not-allowed;
     border-color: transparent;
         flex-wrap: wrap;
}
 .qty-input .qty-count:disabled:before, .qty-input .qty-count:disabled:after {
     background: #ccc;
}.qty-input {
    /*border: 1px solid #ccc;*/
    width: fit-content;
    border-radius: 5px;
    display: flex;
    align-items: center;
}
.ptyInput label {
    color: #000;
    margin-bottom: 4px;
}
.ptyInput {
     display: flex;
    align-items: center;
    justify-content: space-between;
    margin-top: 30px
}
.extraLInkTag a{
    width: 40px;
    height: 40px;
    display: flex;
    align-items: center;
    justify-content: center;
    border-radius: 5px
}
a.tagRefLink {
    background: #ffb417;
    color: #fff;
}
a.tagaddLink {
    color: #fff;
    background: #0baf09;
}
p.tagRow {
    display: flex;
    align-items: center;
    justify-content: flex-end;
    column-gap: 15px;
        font-weight: 500;
}
.MainProSlider {
    text-align: center;
    height: 280px;
    padding: 25px;
    display: flex;
    align-items: center;
    justify-content: center;
}
.MainProSlider img{
    width: 250px;
    height: 200px;
}
.MainProSwiper .swiper-pagination-bullet-active {
    background: #ffb417;
}
.MainProSwiper .swiper-pagination-bullet {
    width: 15px;
    height: 15px;
}
.mb-4{
    font-weight: 900;
    font-family: cursive;
}
span.greetext i{
    font-weight: 500;
}
span.greetext {
    display: block;
    color: green;
}
.rightBagcard img{
    max-width: 50px;
    margin-right:12px
}
.rightBagcard {
    display: flex;
    align-items: center;
    color: #fff;
    padding-bottom: 10px;
}
.Pronavbar .dropbtn i{
    margin-right: 10px
}
.stickyList li a{
    color: #fff;
}
.stickyList li a{
    width: 40px;
    height: 40px;
    background-color: #323837;
    color: #fff;
    margin: 5px 0;
    display: flex;
    align-items: center;
    justify-content: center;
}
.stickyList{
    margin: 0;
    padding: 0;
    list-style: none;
}
.stickyLinks {
    position: fixed;
    bottom: 80px;
    left: 0;
    z-index: 1;
}
.footerTopIcon{
    transform: rotate(272deg);
    font-size: 30px;
    font-weight: 600;
    color: #fff;
    display: block;
    width: fit-content;
    margin: auto;
}
.scrolltoplink{
    margin-bottom: 35px;
    display: block;
}
.scrolltoplink span{
    margin-top: 5px;
    font-size: 16px;
    color: #fff;
    display: block
}
a.boardLInk:hover{
    color: #f7b01a;
    background-color: #fff;
}
a.boardLInk {
    background: #f7b01a;
    color: #fff;
    font-size: 13px;
    padding: 6px 10px;
    border-radius: 5px;
    transform: rotate(-5deg);
    display: block;
    width: fit-content;
}
.rightBoardText p {
        font-size: 15px;
        color: #fff;
        font-weight: 600;
    }
.rightBoardText {
    width: 150px;
    background-image: url(../img/Board.jpg);
    background-repeat: no-repeat;
    padding: 50px 11px;
    background-size: 100% 100%;
    background-position: center;
    position: absolute;
    right: -10px;
    top: 302px;
    height: 100%;
    max-height: 350px;
    border-radius: 8px;
    box-shadow: 0 0 13px 2px #898989;
    transform: rotate(358deg);
}
.stickyList li a:hover{
    color: #f7b01a;
}