.logoImg{
    height: 150px;
    width: 150px;
    border-radius: 10px;
    display: flex;
} 
.nav-links ul li a{
    text-decoration: none;
}
img{
    width: 450px;
    background-color: blue;
    border-radius: 25px;
}